﻿<!DOCTYPE html>
<html lang="en">
<head>
  <title>Arrow</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" href="css/toaster.css" />
  <style>
    
  </style>
  <script type="text/javascript">
function readURL(input) {
        if (input.files) {
        	if(input.files[0])
        	{

        	//}
        	//if (input.files) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#img0')
                    .attr('src', e.target.result).width(150).height(150);
            };

            reader.readAsDataURL(input.files[0]);
        //}
    }
    if(input.files[1])
        	{
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#img1')
                    .attr('src', e.target.result).width(150).height(150);
            };

            reader.readAsDataURL(input.files[1]);
          }
          if(input.files[2])
        	{
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#img2')
                    .attr('src', e.target.result).width(150).height(150);
            };

            reader.readAsDataURL(input.files[2]);
          }
          if(input.files[3])
        	{
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#img3')
                    .attr('src', e.target.result).width(150).height(150);
            };

            reader.readAsDataURL(input.files[3]);
          }
          if(input.files[4])
        	{
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#img4')
                    .attr('src', e.target.result).width(150).height(150);
            };

            reader.readAsDataURL(input.files[4]);
          }
    }
}
  </script>
</head>
<body>

<nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="images/logo.png" class="img-responsive" width="200px"/></a>
            </div>
           
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
           
        </div>
</nav>
  
<div class="text-center main_div">    
  <div class="content container">
    <!-- <div class="col-sm-2 sidenav">
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div> -->
    <div class="text-left"> 
      <!--<h1>{{title}}</h1>-->
      <!--<p> Welcome to {{title}} </p>-->
        <div class="text-center aristocracy">
            <h1>Upload your images </h1>
            <p>(Up to five)</p>
        </div>
      
     
    <form action="/file_upload" method="POST" enctype="multipart/form-data" class="text-center">
        <h4>
            Select images to upload:
            <input type="file" name="file1" size="50" multiple="multiple" onchange="readURL(this);"/>
        </h4>
        <br />
        <div class="row">
        	<div class="col-md-2">
                <a href="" class="thumbnail a_img">
                    <img id="img0" src="#" alt="Image 1" width="150" height="150" class="img-responsive img-class" /></a>
            </div>
        	<div class="col-md-2">
                <a href="" class="thumbnail a_img">
                    <img id="img1" src="#" alt="Image 2" width="150" height="150" class="img-responsive img-class" /></a>
             </div>
        	<div class="col-md-2">
                <a href="" class="thumbnail a_img">
                    <img id="img2" src="#" alt="Image 3" width="150" height="150" class="img-responsive img-class" /></a>
            </div>
        	<div class="col-md-2">
                <a href="" class="thumbnail a_img">
                    <img id="img3" src="#" alt="Image 4" width="150" height="150" class="img-responsive img-class" /></a>
            </div>
        	<div class="col-md-2">
                <a href="" class="thumbnail a_img">
                    <img id="img4" src="#" alt="Image 5" width="150" height="150" class="img-responsive img-class" /></a>
            </div>
        </div>
        <!-- 
        <img id="img1" src="#" alt="your image" width="200px" height="200px"/>
        <img id="img2" src="#" alt="your image" width="200px" height="200px"/>


 -->
        <br />
        <div class="text-center">
            <input type="submit" value="Upload Images" />
        </div>
       
    </form>
    </div>
      <a href="/form" class="btn btn-primary pull-right btn-lg" role="button">Add Diaries</a>
    <!-- <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div> -->
  </div>
</div>

<footer class="container-fluid text-center">
 <!-- <p>Footer Text</p>-->
</footer>
    {% include "scripts.html" %}
</body>
</html>
