﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="css/toaster.css" />
    <title>{{title}}</title>
    <style>
    </style>
</head>
<body>
    <div id="loginform" align="center">

        <div id="mainlogin">

            <!--<h1>Log in with awesome new thing</h1>-->
            <img src="images/logo.png" />
            <form  method="post" action="/login">
                <input type="text" name="username" placeholder="username"  required>
                <input type="password" name="password" placeholder="password"  required>
                <button type="submit"><span class="glyphicon glyphicon-log-in gi-5x"></span></i></button>
            </form>
            <div id="note"><a href="#">Forgot your password?</a></div>
            <!--<a href="/add_user">Add</a>-->
        </div>
    </div>
    {% include "scripts.html" %}
</body>
</html>