﻿<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/toaster.js"></script>
<script>
    toastarray = {{ messages|raw|json }};
    url={{url|raw|json}};
</script>
<script type="text/javascript" src="js/site.js"></script>