body {
    font-family: 'EB Garamond', serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.aristocracy {
    height: auto;
    text-align: center;
    text-transform: uppercase;
    font-family: "EB Garamond",serif;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 20px;
}

h1
{
	/*color:red;*/
}
/* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background: #161c2c !important;
      border-color: #161c2c !important;
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    margin-top: 6px;
    height: 100px;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.62);
    -moz-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.62);
    box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.62);
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height:100vh;}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
     /* .row.content {height:auto;} */
    }
    .main_div
    {
    	    background: url("/images/bg1.jpg") repeat;
            height: 100vh;
    }
    #selectedFiles img {
		max-width: 125px;
		max-height: 125px;
		float: left;
		margin-bottom:10px;
	}
	/*.img_class
	{
		width:100px;
        height:150px;
	}*/
    .content
    {
        background:#fffff5;
        height:100vh;
    }
    .a_img{
        width:150px; height:170px;
    }
    .logo_div a{
        text-align:center;
    }
   